In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\AdminPC\OneDrive\Desktop\stage\archive(5) (1)\Dataset.csv")
display(data)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\AdminPC\\OneDrive\\Desktop\\stage\\archive(5) (1)\\Dataset.csv'

In [5]:
data.columns[2:]

Index(['HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'EtCO2',
       'BaseExcess', 'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST', 'BUN',
       'Alkalinephos', 'Calcium', 'Chloride', 'Creatinine', 'Bilirubin_direct',
       'Glucose', 'Lactate', 'Magnesium', 'Phosphate', 'Potassium',
       'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC',
       'Fibrinogen', 'Platelets', 'Age', 'Gender', 'Unit1', 'Unit2',
       'HospAdmTime', 'ICULOS', 'SepsisLabel', 'Patient_ID'],
      dtype='object')

In [13]:
colonnes = list(data.columns[2:])
colonnes

['HR',
 'O2Sat',
 'Temp',
 'SBP',
 'MAP',
 'DBP',
 'Resp',
 'EtCO2',
 'BaseExcess',
 'HCO3',
 'FiO2',
 'pH',
 'PaCO2',
 'SaO2',
 'AST',
 'BUN',
 'Alkalinephos',
 'Calcium',
 'Chloride',
 'Creatinine',
 'Bilirubin_direct',
 'Glucose',
 'Lactate',
 'Magnesium',
 'Phosphate',
 'Potassium',
 'Bilirubin_total',
 'TroponinI',
 'Hct',
 'Hgb',
 'PTT',
 'WBC',
 'Fibrinogen',
 'Platelets',
 'Age',
 'Gender',
 'Unit1',
 'Unit2',
 'HospAdmTime',
 'ICULOS',
 'SepsisLabel',
 'Patient_ID']

In [10]:
global_data = pd.read_excel(r"C:\Users\AdminPC\sepsis_prediction\sepsis_prediction\exploration du sujet\variables\variables_distinctes_global.xlsx")
display(global_data)

,ID,Label,Type,Group,Unit,Description,Device,Source
0,1,Heart Rate,Long,VitalSigns,1/min,The MeasurementTime of BP variables are only u...,Common,NaN
1,2,NIBP Systolic,Long,VitalSigns,mmHg,The MeasurementTime of BP variables are only u...,Common,NaN
2,3,NIBP Diastolic,Long,VitalSigns,mmHg,The MeasurementTime of BP variables are only u...,Common,NaN
3,4,NIBP Mean,Long,VitalSigns,mmHg,This variable is associated with LowerAlarmLim...,Common,NaN
4,7,Patient Delta Temperature,Double,VitalSigns,°C,NaN,Common,NaN
...,...,...,...,...,...,...,...,...
1975,92021,Ventilator Obstruction Alarm,Long,Alarms,unitless,Consult detailed help for more information on ...,Common,NaN
1976,92405,Pressure Sensor Disconnected Alarm,Long,Alarms,unitless,Consult detailed help for more information on ...,Common,NaN
1977,92612,O2 Supply Alarm,Long,Alarms,unitless,Consult detailed help for more information on ...,Common,NaN
1978,92631,O2 Supply High Alarm,Long,Alarms,unitless,Consult detailed help for more information on ...,Common,NaN
1979,92632,O2 Supply Low Alarm,Long,Alarms,unitless,Consult detailed help for more information on ...,Common,NaN

In [12]:
commun_data = global_data[global_data['Label'].isin(colonnes)]
display(commun_data)

,ID,Label,Type,Group,Unit,Description,Device,Source
1040,4829,Lactate,Double,VitalSigns,-,Measured value by the i-Stat module.,IntelliVue X3,Lact

In [14]:
var_data = pd.DataFrame(colonnes, columns=['variable'])

designations = {
    'HR': 'Heart Rate',
    'O2Sat': 'Oxygen Saturation',
    'Temp': 'Temperature',
    'SBP': 'Systolic Blood Pressure',
    'MAP': 'Mean Arterial Pressure',
    'DBP': 'Diastolic Blood Pressure',
    'Resp': 'Respiration Rate',
    'EtCO2': 'End-tidal CO2',
    'BaseExcess': 'Base Excess',
    'HCO3': 'Bicarbonate',
    'FiO2': 'Fraction of inspired oxygen',
    'pH': 'pH level',
    'PaCO2': 'Partial pressure of CO2',
    'SaO2': 'Arterial oxygen saturation',
    'AST': 'Aspartate Aminotransferase',
    'BUN': 'Blood Urea Nitrogen',
    'Alkalinephos': 'Alkaline Phosphatase',
    'Calcium': 'Calcium',
    'Chloride': 'Chloride',
    'Creatinine': 'Creatinine',
    'Bilirubin_direct': 'Direct Bilirubin',
    'Glucose': 'Blood Glucose',
    'Lactate': 'Lactate',
    'Magnesium': 'Magnesium',
    'Phosphate': 'Phosphate',
    'Potassium': 'Potassium',
    'Bilirubin_total': 'Total Bilirubin',
    'TroponinI': 'Troponin I',
    'Hct': 'Hematocrit',
    'Hgb': 'Hemoglobin',
    'PTT': 'Partial Thromboplastin Time',
    'WBC': 'White Blood Cell Count',
    'Fibrinogen': 'Fibrinogen',
    'Platelets': 'Platelet Count',
    'Age': 'Age',
    'Gender': 'Gender',
    'Unit1': 'ICU Unit 1',
    'Unit2': 'ICU Unit 2',
    'HospAdmTime': 'Hospital Admission Time',
    'ICULOS': 'ICU Length of Stay',
    'SepsisLabel': 'Sepsis Label',
    'Patient_ID': 'Patient ID'
}

var_data['Label'] = var_data['variable'].map(designations)
display(var_data)

            variable                        Label
0                 HR                   Heart Rate
1              O2Sat            Oxygen Saturation
2               Temp                  Temperature
3                SBP      Systolic Blood Pressure
4                MAP       Mean Arterial Pressure
5                DBP     Diastolic Blood Pressure
6               Resp             Respiration Rate
7              EtCO2                End-tidal CO2
8         BaseExcess                  Base Excess
9               HCO3                  Bicarbonate
10              FiO2  Fraction of inspired oxygen
11                pH                     pH level
12             PaCO2      Partial pressure of CO2
13              SaO2   Arterial oxygen saturation
14               AST   Aspartate Aminotransferase
15               BUN          Blood Urea Nitrogen
16      Alkalinephos         Alkaline Phosphatase
17           Calcium                      Calcium
18          Chloride                     Chloride
19        Creatinine                   Creatinine
20  Bilirubin_direct             Direct Bilirubin
21           Glucose                Blood Glucose
22           Lactate                      Lactate
23         Magnesium                    Magnesium
24         Phosphate                    Phosphate
25         Potassium                    Potassium
26   Bilirubin_total              Total Bilirubin
27         TroponinI                   Troponin I
28               Hct                   Hematocrit
29               Hgb                   Hemoglobin
30               PTT  Partial Thromboplastin Time
31               WBC       White Blood Cell Count
32        Fibrinogen                   Fibrinogen
33         Platelets               Platelet Count
34               Age                          Age
35            Gender                       Gender
36             Unit1                   ICU Unit 1
37             Unit2                   ICU Unit 2
38       HospAdmTime      Hospital Admission Time
39            ICULOS           ICU Length of Stay
40       SepsisLabel                 Sepsis Label
41        Patient_ID                   Patient ID

In [15]:
commun_design_data = global_data[global_data['Label'].isin(var_data['Label'])]
display(commun_design_data)

,ID,Label,Type,Group,Unit,Description,Device,Source
0,1,Heart Rate,Long,VitalSigns,1/min,The MeasurementTime of BP variables are only u...,Common,NaN
16,22,Respiration Rate,Double,VitalSigns,1/min,NaN,Common,Resp
179,1246,Hematocrit,Double,VitalSigns,%,NaN,Common,NaN
364,1929,Patient ID,String,PatientInfo,unitless,NaN,Common,Administrative Data
906,4672,Total Bilirubin,Double,VitalSigns,-,NaN,IntelliVue X3,tBili
909,4675,Direct Bilirubin,Double,VitalSigns,-,NaN,IntelliVue X3,dBili
921,4687,Partial Thromboplastin Time,Double,VitalSigns,-,NaN,IntelliVue X3,PTT
1015,4800,Hemoglobin,Double,VitalSigns,-,NaN,IntelliVue X3,Hb
1040,4829,Lactate,Double,VitalSigns,-,Measured value by the i-Stat module.,IntelliVue X3,Lact
1054,4858,Aspartate Aminotransferase,Double,VitalSigns,-,NaN,IntelliVue X3,Available only in revF or earlier

In [16]:
commun_design_data.shape

(10, 8)

In [39]:
# Function to find partial matches
def find_partial_matches(label, df2):
    return df2[df2['Label'].str.contains(label, case=False, na=False)]['ID'].tolist()

# Fonction pour traiter les labels composés
def process_label(label, df2):
    parts = label.split()
    matches = []
    for part in parts:
        matches.extend(find_partial_matches(part, df2))
    return list(set(matches))

# Appliquer la fonction sur chaque colonne indépendamment
var_data['ids_label'] = var_data['Label'].apply(lambda x: process_label(x, global_data))
# appliquer la fonction à l'intégralité du Label
var_data['ids_label'] = var_data['Label'].apply(lambda x: find_partial_matches(x, global_data))

var_data['ids_variable'] = var_data['variable'].apply(lambda x: find_partial_matches(x, global_data))

# Combiner les résultats et éliminer les doublons
var_data['ids_possible'] = var_data.apply(lambda row: list(set(row['ids_label'] + row['ids_variable'])), axis=1)

# Créer un nouveau DataFrame avec les résultats combinés
result_data = {
    'variable': var_data['variable'],
    'Label': var_data['Label'],
    'ids_possible': var_data['ids_possible']
}

result_df = pd.DataFrame(result_data)
result_df

,variable,Label,ids_possible
0,HR,Heart Rate,"[1, 4738, 7809, 19, 1556, 1557, 4883, 4884, 48..."
1,O2Sat,Oxygen Saturation,[]
2,Temp,Temperature,"[3584, 7, 4616, 4617, 4618, 4619, 4620, 4621, ..."
3,SBP,Systolic Blood Pressure,[]
4,MAP,Mean Arterial Pressure,[1716]
5,DBP,Diastolic Blood Pressure,[]
6,Resp,Respiration Rate,"[9221, 5115, 5002, 9466, 9482, 4875, 4878, 436..."
7,EtCO2,End-tidal CO2,"[5728, 9484, 5712, 5713, 20, 1655]"
8,BaseExcess,Base Excess,"[4818, 5130, 7870, 4823]"
9,HCO3,Bicarbonate,"[676, 5892, 3761, 4817, 4605]"
10,FiO2,Fraction of inspired oxygen,"[1473, 419, 54051, 2991, 2992, 1650, 8596, 837..."
11,pH,pH level,"[5888, 5121, 1794, 8447, 5124, 4741, 8448, 844..."
12,PaCO2,Partial pressure of CO2,[8410]
13,SaO2,Arterial oxygen saturation,"[3789, 2399]"
14,AST,Aspartate Aminotransferase,"[7809, 3, 9, 12, 8717, 2322, 3091, 4883, 4884,..."
15,BUN,Blood Urea Nitrogen,"[4827, 1478, 1487]"
16,Alkalinephos,Alkaline Phosphatase,[4708]
17,Calcium,Calcium,"[4676, 4677, 2537, 5872, 5874, 7986, 5876, 798..."
18,Chloride,Chloride,[3421]
19,Creatinine,Creatinine,"[1479, 1482, 1487, 1489, 1493, 4565, 4827, 4828]"
20,Bilirubin_direct,Direct Bilirubin,[4675]
21,Glucose,Blood Glucose,"[4673, 4674, 5127]"
22,Lactate,Lactate,"[4706, 4829]"
23,Magnesium,Magnesium,"[4824, 4678]"
24,Phosphate,Phosphate,[]
25,Potassium,Potassium,"[1495, 678, 5126, 4680, 1484, 4567]"
26,Bilirubin_total,Total Bilirubin,[4672]
27,TroponinI,Troponin I,[]
28,Hct,Hematocrit,"[3793, 1043, 1246, 4615]"
29,Hgb,Hemoglobin,"[4704, 4800, 5120, 452, 3781, 5680, 5681, 5682..."
30,PTT,Partial Thromboplastin Time,"[7809, 4883, 4884, 4687]"
31,WBC,White Blood Cell Count,[]
32,Fibrinogen,Fibrinogen,[]
33,Platelets,Platelet Count,[6343]
34,Age,Age,"[4609, 9475, 4996, 9476, 4237, 5905, 6935, 693..."
35,Gender,Gender,[6533]
36,Unit1,ICU Unit 1,[]
37,Unit2,ICU Unit 2,[]
38,HospAdmTime,Hospital Admission Time,[]
39,ICULOS,ICU Length of Stay,[]
40,SepsisLabel,Sepsis Label,[]
41,Patient_ID,Patient ID,"[3184, 1929]"

In [23]:
result_df.to_excel(r"C:\Users\AdminPC\sepsis_prediction\sepsis_prediction\exploration du sujet\variables\variable_mimic.xlsx", index=False)

In [40]:
# Ajouter la colonne 'autres_appelations'
def find_autres_appelations(ids, df):
    return df[df['ID'].isin(ids)]['Label'].tolist()

result_df['appelations_possible'] = result_df['ids_possible'].apply(lambda ids: find_autres_appelations(ids, global_data))

result_df

,variable,Label,ids_possible,appelations_possible
0,HR,Heart Rate,"[1, 4738, 7809, 19, 1556, 1557, 4883, 4884, 48...","[Heart Rate, ECG Heart Rate, Fetal Heart Rate ..."
1,O2Sat,Oxygen Saturation,[],[]
2,Temp,Temperature,"[3584, 7, 4616, 4617, 4618, 4619, 4620, 4621, ...","[Patient Delta Temperature, Temperature 3, Tem..."
3,SBP,Systolic Blood Pressure,[],[]
4,MAP,Mean Arterial Pressure,[1716],[Mean Arterial Pressure (Thermodilution)]
5,DBP,Diastolic Blood Pressure,[],[]
6,Resp,Respiration Rate,"[9221, 5115, 5002, 9466, 9482, 4875, 4878, 436...","[Respiration Rate, Minimum Respiration Rate Th..."
7,EtCO2,End-tidal CO2,"[5728, 9484, 5712, 5713, 20, 1655]","[End Tidal CO2 (EtCO2), SmartCare EtCO2 Limita..."
8,BaseExcess,Base Excess,"[4818, 5130, 7870, 4823]","[Base Excess of Extra Cellular Fluid, Calculat..."
9,HCO3,Bicarbonate,"[676, 5892, 3761, 4817, 4605]","[Bicarbonate Concentration (HCO3), Hydrocarbon..."
10,FiO2,Fraction of inspired oxygen,"[1473, 419, 54051, 2991, 2992, 1650, 8596, 837...","[Inspired O2 (FiO2), Inspired O2 (FiO2), Oxyge..."
11,pH,pH level,"[5888, 5121, 1794, 8447, 5124, 4741, 8448, 844...","[Physiologic Dead Space, Relative Power In Alp..."
12,PaCO2,Partial pressure of CO2,[8410],[Adjusted PaCO2 (at Patient Temperature)]
13,SaO2,Arterial oxygen saturation,"[3789, 2399]","[Arterial O2 Saturation (SaO2), Arterial O2 Sa..."
14,AST,Aspartate Aminotransferase,"[7809, 3, 9, 12, 8717, 2322, 3091, 4883, 4884,...","[NIBP Diastolic, INVP1 Diastolic, INVP2 Diasto..."
15,BUN,Blood Urea Nitrogen,"[4827, 1478, 1487]","[Urea Nitrogen Concentration (BUN), Blood Urea..."
16,Alkalinephos,Alkaline Phosphatase,[4708],[Alveolarproteinose (Alkaline Phosphatase)]
17,Calcium,Calcium,"[4676, 4677, 2537, 5872, 5874, 7986, 5876, 798...",[Normalized Ionized Calcium Concentration (Ca)...
18,Chloride,Chloride,[3421],[Chloride Concentration (Cl-)]
19,Creatinine,Creatinine,"[1479, 1482, 1487, 1489, 1493, 4565, 4827, 4828]","[Creatinine Concentration (Crea), Urine Creati..."
20,Bilirubin_direct,Direct Bilirubin,[4675],[Direct Bilirubin]
21,Glucose,Blood Glucose,"[4673, 4674, 5127]","[Serum Glucose, Urine Glucose, Generic Glucose..."
22,Lactate,Lactate,"[4706, 4829]","[Lactate Dehydrogenase, Lactate]"
23,Magnesium,Magnesium,"[4824, 4678]","[Serum Magnesium, Ionized Magnesium]"
24,Phosphate,Phosphate,[],[]
25,Potassium,Potassium,"[1495, 678, 5126, 4680, 1484, 4567]","[Potassium Ion Concentration (K+), Urine Potas..."
26,Bilirubin_total,Total Bilirubin,[4672],[Total Bilirubin]
27,TroponinI,Troponin I,[],[]
28,Hct,Hematocrit,"[3793, 1043, 1246, 4615]","[Manually Entered Hematocrit, Hematocrit, Hema..."
29,Hgb,Hemoglobin,"[4704, 4800, 5120, 452, 3781, 5680, 5681, 5682...","[Initial Hemoglobin, Hemoglobin (Hb), Corpuscu..."
30,PTT,Partial Thromboplastin Time,"[7809, 4883, 4884, 4687]","[Partial Thromboplastin Time, Activated Partia..."
31,WBC,White Blood Cell Count,[],[]
32,Fibrinogen,Fibrinogen,[],[]
33,Platelets,Platelet Count,[6343],[Platelets (Thrombocyte Count)]
34,Age,Age,"[4609, 9475, 4996, 9476, 4237, 5905, 6935, 693...","[Patient Age, Device Language, Average Dialysa..."
35,Gender,Gender,[6533],[Patient Gender]
36,Unit1,ICU Unit 1,[],[]
37,Unit2,ICU Unit 2,[],[]
38,HospAdmTime,Hospital Admission Time,[],[]
39,ICULOS,ICU Length of Stay,[],[]
40,SepsisLabel,Sepsis Label,[],[]
41,Patient_ID,Patient ID,"[3184, 1929]","[Patient ID, Alternate Patient ID]"

In [42]:
result_df.to_excel(r"C:\Users\AdminPC\sepsis_prediction\sepsis_prediction\exploration du sujet\variables\variable_mimic.xlsx", index=False)

In [43]:
# 
result_df['ids_possible'].explode().count()

513

In [44]:
result_df['ids_possible'].explode().nunique()

473